@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgb(243, 243, 243);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.header {
  background-image: url("../img/微信图片_20221007224453.jpg");
  height: 60%;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.header .header-nav {
  padding: 15px 0px;
  position: absolute;
  z-index: 2;
  right: 0;
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.207);
}
.header .header-nav .header-nav-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .header-nav .header-nav-group .nav-items {
  justify-content: center;
  width: 100%;
  display: flex;
  color: white;
  font-weight: 500;
  font-size: 18px;
  cursor: default;
}
.header .blog-title {
  width: 100%;
  height: 60%;
  color: rgba(255, 255, 255, 0.797);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
}

.article {
  width: 100%;
  height: 100%;
  display: flex;
}
.article article {
  width: 75%;
  height: 100%;
}
.article article .article-main {
  width: calc(100% - 10px);
  margin: 10px 5px;
  padding: 10px 0px;
}
.article article .article-main .article-header {
  width: calc(80% - 20px);
  height: 5%;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  font-weight: bold;
  color: rgba(24, 24, 24, 0.77);
}
.article article .article-main .article-title {
  width: 80%;
  margin: 0px 10%;
  font-size: 25px;
  padding: 20px 0px 10px 20px;
  color: rgba(24, 24, 24, 0.77);
  font-weight: 600;
}
.article article .article-main .article-about {
  width: 80%;
  margin: 0px 10%;
  padding: 0px 0px 20px 20px;
}
.article article .article-main .article-about .about-title {
  color: white;
  padding: 3px 6px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.647);
}
.article article .article-main .article-about .about-link {
  cursor: default;
  padding: 3px 6px;
  color: white;
  background-color: rgb(17, 124, 191);
}
.article article .article-main .article-content {
  display: flex;
  margin: 0px calc(10% + 20px);
  width: 80%;
  background-color: rgba(233, 233, 233, 0.368);
  height: 100%;
  font-size: 18px;
  word-break: break-all;
  padding: 20px;
}
.article aside {
  width: 25%;
  height: 100%;
}
.article aside .aside {
  width: calc(100% - 10px);
  height: calc(100% - 20px);
  margin: 10px 5px;
}
.article aside .aside .tag {
  width: 70%;
}
.article aside .aside .tag .tag-title {
  width: calc(100% - 20px);
  display: flex;
  align-items: center;
  padding: 25px 0px 25px 20px;
  justify-content: flex-start;
  color: rgba(24, 24, 24, 0.77);
  font-weight: 600;
  font-size: 18px;
}
.article aside .aside .tag .article-tag {
  width: calc(100% - 20px);
  margin-left: 20px;
}
.article aside .aside .tag .article-tag .item-tag {
  display: block;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgba(24, 24, 24, 0.623);
  padding: 4px 10px;
  margin: 5px 10px;
  float: left;
  font-size: 16px;
}
.article aside .aside .tag .article-tag .item-tag a {
  color: rgba(24, 24, 24, 0.623);
  cursor: default;
}/*# sourceMappingURL=index.css.map */