* {
  margin: 0;
  padding: 0;
  font-family: "Lato-blod", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(246, 246, 246);
  flex-direction: column;
  position: relative;
}

input {
  border: 2px inset transparent;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.708);
  transition: all 0.25s;
  border-radius: 0.3125rem;
}

input:focus {
  outline: 0.125rem unset rgb(87, 155, 239) !important;
}

.form-container {
  width: calc(100% - 100px - 1.25rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  min-width: 18.75rem;
}
.form-container .set-article-info {
  font-size: 1.25rem;
  font-weight: bold;
}
.form-container form {
  width: calc(100% - 1.875rem);
  padding: 0.9375rem;
  display: flex;
  flex-direction: column;
  line-height: 3.125rem;
}
.form-container form label {
  font-size: 1rem;
}
.form-container form input {
  letter-spacing: 1px;
  padding: 0.3125rem;
  font-size: 1rem;
  text-indent: 10px;
}

.control-button {
  width: calc(100% - 1.25rem);
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}
.control-button #submitForm {
  padding: 5px 0.625rem;
  letter-spacing: 0.5px;
  background-color: rgb(16, 154, 240);
  color: white;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
}
.control-button #addTag {
  padding: 5px 0.625rem;
  letter-spacing: 0.5px;
  background-color: rgb(41, 185, 2);
  color: white;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
}
.control-button #removeTag {
  padding: 5px 0.625rem;
  letter-spacing: 0.5px;
  background-color: rgb(207, 3, 3);
  color: white;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
}
.control-button input {
  margin: 0.625rem 0.625rem;
}
.control-button .select-button {
  width: 40%;
}
.control-button .select-button #select-all-tag {
  padding: 5px 0.625rem;
  letter-spacing: 0.5px;
  background-color: rgb(224, 52, 110);
  color: white;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
}
.control-button .control-function {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.set-tag {
  width: 100%;
  padding: 0.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.set-tag .set-tag-title {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: bold;
}
.set-tag .set-tag-group {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.625rem;
}
.set-tag .set-tag-group .tag-content {
  display: flex;
}
.set-tag .set-tag-group .tag-content label {
  margin: 0 0.9375rem;
  display: flex;
  align-items: center;
}
.set-tag .set-tag-group .tag-content [type=checkbox] {
  display: flex;
  margin-right: 1.25rem;
  background-color: rgb(255, 85, 85) !important;
}
.set-tag .set-tag-group .tag-content [type=checkbox]:focus {
  background-color: rgb(255, 85, 85);
}
.set-tag .set-tag-group .tag-content .set-tag-content {
  padding: 0.3125rem;
  min-width: 3.125rem;
  max-width: 9.375rem;
  margin-right: 0.9375rem;
}
.set-tag .set-tag-group .tag-content .set-tag-content input {
  margin: 0 1.25rem;
}
.set-tag .set-tag-group .tag-color label {
  margin-right: 0.625rem;
}
.set-tag .set-tag-group .tag-color .set-tag-content {
  padding: 0.3125rem;
  min-width: 3.125rem;
  max-width: 9.375rem;
}

.article-list {
  min-width: 15.625rem;
  width: 20%;
  height: 100%;
  background-color: rgb(201, 234, 186);
  padding: 0 0.9375rem;
  border-left: 5px solid rgba(191, 191, 191, 0.484);
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(100%);
  transition: all 1s;
}
.article-list .article-list-title {
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  margin-top: 0.9375rem;
}
.article-list .article-group {
  margin: 0.625rem 0px;
  display: flex;
  padding: 0.625rem;
  background-color: rgb(255, 255, 255);
  border: 0.0625rem inset rgb(255, 255, 255);
  border-radius: 0.625rem;
}
.article-list .article-group input {
  margin-right: 0.625rem;
  outline: none;
}
.article-list .article-menu {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-2.5rem);
}
.article-list .article-menu .icon {
  width: 4.375rem;
  height: 4.375rem;
  filter: drop-shadow(0px 0px 0.3125rem black);
  transition: all 1s;
  transform: rotate(180deg);
}
.article-list .article-control-button {
  width: calc(100% - 1.875rem);
  position: fixed;
  bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
}
.article-list .article-control-button .select-all-article {
  padding: 5px 0.625rem;
  letter-spacing: 0.5px;
  background-color: rgb(224, 52, 110);
  color: white;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 0.0625rem black;
}
.article-list .article-control-button .delete-article {
  padding: 5px 0.625rem;
  letter-spacing: 0.5px;
  background-color: rgb(207, 3, 3);
  color: white;
  border: 1px solid transparent;
  border-radius: 0.3125rem;
  box-shadow: 0px 0px 0.0625rem black;
}

#dialog {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.77);
  display: flex;
  justify-content: center;
  align-items: center;
}
#dialog #mask-content {
  width: 40%;
  height: 20%;
  position: relative;
  margin: 0 auto;
  background-color: rgba(135, 199, 255, 0.903);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.625rem;
  transform: translateY(200%);
}
#dialog #mask-content #closeDialog {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgb(54, 165, 235);
  color: white;
  border-radius: 0.3125rem;
  padding: 0.625rem 1.25rem;
}
#dialog #mask-content p {
  color: white;
  font-size: 1.125rem;
}

.write {
  width: 100%;
  height: 100%;
  padding: 1.875rem 0px;
}
.write .write-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.625rem;
}
.write .editer {
  overflow: scroll;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.write .editer .editer-area {
  width: calc(40% - 3.125rem);
  height: 50%;
  min-height: 37.5rem;
  outline: 3px solid rgb(189, 189, 189);
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
}
.write .editer .editer-area textarea {
  padding: 0.625rem;
  display: flex;
  width: calc(100% - 1.25rem);
  height: 100%;
  font-size: 0.875rem;
  letter-spacing: 1px;
  color: rgb(39, 39, 39);
  border: none;
  outline: 3px solid transparent;
  line-height: 1rem;
}
.write .editer .editer-area textarea:focus {
  border: none;
  border-radius: 5px;
  outline: none !important;
}
.write .editer .preview-area {
  width: calc(50% - 3.125rem + 0.625rem);
  height: 500px;
  min-height: 37.5rem;
  outline: 3px solid rgb(77, 77, 77);
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0 0.625rem;
}/*# sourceMappingURL=editer.css.map */