* {
    margin: 0;
    padding: 0;
    font-family: 'Lato-blod', sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(246, 246, 246);
    flex-direction: column;
    position: relative;
}

input {
    border: 2px inset transparent;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.708);
    transition: all 0.25s;
    border-radius: .3125rem;
}

input:focus {
    outline: .125rem unset rgb(87, 155, 239) !important;
}

// 文章信息
.form-container {
    width: calc(100% - 100px - (.625rem * 2));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    min-width: 18.75rem;

    .set-article-info {
        font-size: 1.25rem;
        font-weight: bold;
    }

    form {
        width: calc(100% - 1.875rem);
        padding: .9375rem;
        display: flex;
        flex-direction: column;
        line-height: 3.125rem;

        label {
            font-size: 1rem;
        }

        input {
            letter-spacing: 1px;
            padding: .3125rem;
            font-size: 1rem;
            text-indent: 10px;
        }
    }
}

.control-button {
    width: calc(100% - 1.25rem);
    display: flex;
    justify-content: center;
    background-color: whitesmoke;

    #submitForm {
        padding: 5px .625rem;
        letter-spacing: 0.5px;
        background-color: rgb(16, 154, 240);
        color: white;
        border: 1px solid transparent;
        border-radius: .3125rem;
    }

    #addTag {
        padding: 5px .625rem;
        letter-spacing: 0.5px;
        background-color: rgb(41, 185, 2);
        color: white;
        border: 1px solid transparent;
        border-radius: .3125rem;
    }

    #removeTag {
        padding: 5px .625rem;
        letter-spacing: 0.5px;
        background-color: rgb(207, 3, 3);
        color: white;
        border: 1px solid transparent;
        border-radius: .3125rem;
    }

    input {
        margin: .625rem .625rem;
    }

    .select-button {
        width: 40%;

        #select-all-tag {
            padding: 5px .625rem;
            letter-spacing: 0.5px;
            background-color: rgb(224, 52, 110);
            color: white;
            border: 1px solid transparent;
            border-radius: .3125rem;
        }
    }

    .control-function {
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
}

.set-tag {
    width: 100%;
    padding: .625rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .set-tag-title {
        margin-top: 1.875rem;
        margin-bottom: 1.875rem;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 1.25rem;
        font-weight: bold;
    }

    .set-tag-group {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-top: .625rem;

        .tag-content {
            display: flex;

            label {
                margin: 0 .9375rem;
                display: flex;
                align-items: center;
            }

            [type=checkbox] {
                display: flex;
                margin-right: 1.25rem;
                background-color: rgb(255, 85, 85) !important;
            }

            [type=checkbox]:focus {
                background-color: rgb(255, 85, 85);
            }

            .set-tag-content {
                padding: .3125rem;
                min-width: 3.125rem;
                max-width: 9.375rem;
                margin-right: .9375rem;

                input {
                    margin: 0 1.25rem;
                }
            }
        }

        .tag-color {
            label {
                margin-right: .625rem;
            }

            .set-tag-content {
                padding: .3125rem;
                min-width: 3.125rem;
                max-width: 9.375rem;
            }
        }
    }
}

.article-list {
    min-width: 15.625rem;
    width: 20%;
    height: 100%;
    background-color: rgb(201, 234, 186);
    padding:0 .9375rem;
    border-left: 5px solid rgba(191, 191, 191, 0.484);
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: all 1s;

    .article-list-title {
        font-size: 1.125rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(0, 0, 0);
        margin-top: .9375rem;
    }

    .article-group {
        margin: .625rem 0px;
        display: flex;
        padding: .625rem;
        background-color: rgb(255, 255, 255);
        border: .0625rem inset rgb(255, 255, 255);
        border-radius: .625rem;

        input {
            margin-right: .625rem;
            outline: none;
        }
    }

    .article-menu {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-1.875rem);

        .icon {
            width: 3.75rem;
            height: 3.75rem;
            filter: drop-shadow(0px 0px .3125rem black);
            transition: all 1s;
            transform: rotate(180deg);
        }
    }

    .article-control-button {
        width: calc(100% - 1.875rem);
        position: fixed;
        bottom: .625rem;
        display: flex;
        justify-content: space-between;

        .select-all-article {
            padding: 5px .625rem;
            letter-spacing: 0.5px;
            background-color: rgb(224, 52, 110);
            color: white;
            border: 1px solid transparent;
            border-radius: .3125rem;
            box-shadow: 0px 0px .0625rem black;
        }

        .delete-article {
            padding: 5px .625rem;
            letter-spacing: 0.5px;
            background-color: rgb(207, 3, 3);
            color: white;
            border: 1px solid transparent;
            border-radius: .3125rem;
            box-shadow: 0px 0px .0625rem black;
        }
    }
}

#dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.77);
    display: flex;
    justify-content: center;
    align-items: center;

    #mask-content {
        width: 40%;
        height: 20%;
        position: relative;
        margin: 0 auto;
        background-color: rgba(135, 199, 255, 0.903);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .625rem;
        transform: translateY(200%);

        #closeDialog {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgb(54, 165, 235);
            color: white;
            border-radius: .3125rem;
            padding: .625rem 1.25rem;
        }

        p {
            color: white;
            font-size: 1.125rem;
        }
    }
}

.write {
    width: calc(100% - 50px - (1.875rem * 2));
    height: 100%;
    padding: 50px;

    .write-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.25rem;
        font-weight: bold;
        width: 100%;
        margin-bottom: .625rem;
    }

    .editer {
        overflow: scroll;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .editer-area {
            width: calc(45% - 2.5rem);
            height: 70%;
            min-height: 37.5rem;
            outline: 3px solid rgb(189, 189, 189);
            border: 1px solid transparent;
            border-radius: 5px;

            textarea {
                padding: .625rem;
                display: flex;
                width: calc(100% - 1.25rem);
                height: calc(100% - 1.25rem);
                font-size: .875rem;
                letter-spacing: 1px;
                color: rgb(39, 39, 39);
                border: none;
                outline: 3px solid transparent;
                line-height: 1rem;
            }

            textarea:focus {
                border: none;
                border-radius: 5px;
                outline: none !important;
            }
        }

        .preview-area {
            width: calc(45% - 2.5rem + .625rem);
            height: 70%;
            min-height: 37.5rem;
            outline: 3px solid rgb(77, 77, 77);
            border: 1px solid transparent;
            border-radius: 5px;
            background-color: #ffffff;
            padding: 0 .625rem;
        }
    }
}